[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/nodejs"]
	path = bundle/nodejs
	url = git://github.com/guileen/vim-node.git
[submodule "bundle/nodejs-complete"]
	path = bundle/nodejs-complete
	url = git://github.com/myhere/vim-nodejs-complete.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "bundle/lesscss"]
	path = bundle/lesscss
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/css3-syntax"]
	path = bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule "bundle/css-color-test"]
	path = bundle/css-color-test
	url = git://github.com/ap/vim-css-color.git
